<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form method="post" action="/login" class="login">
      <input name="user" type="text" placeholder="Username" />
      <input name="pass" type="password" placeholder="********" />
      <input name="login" type="submit" />
    </form>
  </body>
</html>
